.app.dark {
  --bg-color: #070736;
  --inverted-bg-color: #d8d8d8;

  --primary-color: rgb(23 167 23);
  --secondary-color: rgb(148 224 148);

  --inverted-primary-color: rgb(10 41 107);
  --inverted-secondary-color: rgb(9 82 218);
}
