.app.light {
  --bg-color: #d8d8d8;
  --inverted-bg-color: #070736;

  --primary-color: rgb(10 41 107);
  --secondary-color: rgb(9 82 218);

  --inverted-primary-color: rgb(23 167 23);
  --inverted-secondary-color: rgb(148 224 148);
}
